ul {
  list-style: none;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

ul, li {
  min-width: 800px;
  font-family: courier;
}

li {
  background-color: #eee;
}

li.collapsible {
  background-color: #ddd;
  margin: 10px;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
}
ul li.collapsible.collapsed:before {
  content: "\02B \020";
}
ul li.collapsible:before {
  content: "\02D \020";
}

label {
  display: inline-block;
  width: 16em;
  text-align: right;
  padding-right: 0.5em;
}
input {
  display: inline-block;
  width: 40em;
  padding: 2px;

}
